@import "tailwindcss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Target only the active (current) step icon */
.ant-steps-item-active .ant-steps-item-icon {
  background-color: #ef4444 !important;
  border-color: #ef4444 !important;
  color: white;
}

/* Change icon color (finish step) */
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fef2f2 !important;
  border-color: #fef2f2 !important;
  color: white;
}

/* Change checkmark color (finish step) */
.ant-steps .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
  color: #ef4444 !important; /* Or any color you want */
}
.ant-steps-item-tail::after {
  background-color: red !important;
  height: 5px !important;
}


.ant-menu {
  background: white !important;
}

.ant-menu-item {
  color: #d9251d !important;
}

.ant-menu-item-selected {
  background: #ffe6e6 !important;
  color: #d9251d !important;
}


.ant-menu-item-selected .anticon {
  color: #d9251d !important;
}


.ant-menu-item:hover {
  background: #ffe6e6 !important;
  color: #d9251d !important;
}



.ant-layout-sider-trigger {
  background: #d9251d !important; /* change this to your desired color */
  color: white !important;         /* icon color */
  font-size: 16px;                /* optional: make the icon bigger */
}

/* Optional: change hover color */
.ant-layout-sider-trigger:hover {
  background: #c82017 !important;
}


.custom-spin .ant-spin-dot-item {
  background-color: #ef4444 !important; /* Tailwind red-500 */
}

.custom-spin .ant-spin-text {
  color: #ef4444 !important;
  font-weight: bold;
}